In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/DataSet/Car dekho.csv')
df.shape
df.head(10)
df.tail(10)

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
8138,Mahindra Jeep Classic,1996,163000,5000,Diesel,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
8139,Maruti 800 AC,1996,42000,70000,Petrol,Individual,Manual,Third Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
8140,Maruti 800 DX,1996,40000,32000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
8141,Mahindra Jeep MM 540,1995,160000,90000,Diesel,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN
8142,Maruti 800 Std,1995,55000,70000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
8143,Ambassador Classic 2000 DSZ AC PS,1994,99000,100000,Diesel,Individual,Manual,Second Owner,12.8 kmpl,1995 CC,52 bhp,106Nm@ 2200rpm,5.0
8144,Mahindra Jeep CL 500 MDI,1994,120000,100000,Diesel,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
8145,Maruti 800 AC,1994,45000,60000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
8146,Maruti Omni LPG STD BSIV,1991,55000,120000,LPG,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
8147,Mahindra Willys CJ 3B 4X4,1983,300000,10000,Diesel,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info() #it shows the details of dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8148 entries, 0 to 8147
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           8148 non-null   object
 1   year           8148 non-null   int64
 2   selling_price  8148 non-null   int64
 3   km_driven      8148 non-null   int64
 4   fuel           8148 non-null   object
 5   seller_type    8148 non-null   object
 6   transmission   8148 non-null   object
 7   owner          8148 non-null   object
 8   mileage        7927 non-null   object
 9   engine         7927 non-null   object
 10  max_power      7933 non-null   object
 11  torque         7926 non-null   object
 12  seats          7927 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 827.7+ KB

In [ ]:
df.describe() #it shows the statistical details of dataframe

              year  selling_price     km_driven        seats
count  8148.000000   8.148000e+03  8.148000e+03  7927.000000
mean   2013.824006   6.401217e+05  6.967571e+04     5.415668
std       4.059542   8.085638e+05  5.655716e+04     0.958604
min    1983.000000   2.999900e+04  1.000000e+00     2.000000
25%    2011.000000   2.549990e+05  3.500000e+04     5.000000
50%    2015.000000   4.500000e+05  6.000000e+04     5.000000
75%    2017.000000   6.750000e+05  9.750000e+04     5.000000
max    2023.000000   1.000000e+07  2.360457e+06    14.000000

DATA **CLEANING**

In [ ]:
df.duplicated() #IT shows duplicates

0       False
1       False
2       False
3       False
4       False
        ...
8143    False
8144    False
8145    False
8146    False
8147    False
Length: 8148, dtype: bool

In [ ]:
df.duplicated().sum() #it will show the sum of duplicates.

1202

In [ ]:
df.drop_duplicates(inplace=True) #it will drop the duplicates.
df

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Alto 800 LXI Opt,2023,410000,10000,Petrol,Individual,Manual,First Owner,19.03 kmpl,999 CC,71.01bhp,96Nm,5.0
1,Skoda Slavia 1.0 TSI Ambition,2023,1350000,10000,Petrol,Individual,Manual,First Owner,14.08 kmpl,1956 CC,167.67bhp,350nm,5.0
2,BMW 3 Series Gran Limousine 320Ld Luxury Line,2023,5800000,1000,Diesel,Dealer,Automatic,First Owner,18.15 kmpl,998 CC,118.35bhp,172Nm,5.0
3,MG ZS EV Exclusive,2023,2650000,10000,Electric,Dealer,Automatic,First Owner,32.52 kmpl,998 CC,58.33bhp,78Nm,5.0
4,Tata Punch Adventure,2023,715000,10000,Petrol,Individual,Manual,First Owner,12.15 kmpl,1451 CC,141bhp,250Nm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8143,Ambassador Classic 2000 DSZ AC PS,1994,99000,100000,Diesel,Individual,Manual,Second Owner,12.8 kmpl,1995 CC,52 bhp,106Nm@ 2200rpm,5.0
8144,Mahindra Jeep CL 500 MDI,1994,120000,100000,Diesel,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
8145,Maruti 800 AC,1994,45000,60000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
8146,Maruti Omni LPG STD BSIV,1991,55000,120000,LPG,Individual,Manual,Second Owner,NaN,NaN,NaN,NaN,NaN
8147,Mahindra Willys CJ 3B 4X4,1983,300000,10000,Diesel,Individual,Manual,Third Owner,NaN,NaN,NaN,NaN,NaN

MISSING VALUE HANDLING

In [ ]:
df.isna() #it will show the missing values in the DataFrame

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8143,False,False,False,False,False,False,False,False,False,False,False,False,False
8144,False,False,False,False,False,False,False,False,True,True,True,True,True
8145,False,False,False,False,False,False,False,False,False,False,False,False,False
8146,False,False,False,False,False,False,False,False,True,True,True,True,True
8147,False,False,False,False,False,False,False,False,True,True,True,True,True

In [ ]:
df.isna().sum() #it will show the sum of missing values in the DataFrame

Name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          208
engine           208
max_power        205
torque           209
seats            208
dtype: int64

In [ ]:
df.dropna(inplace=True) #it will drop the missing values in the DataFrame
df

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Alto 800 LXI Opt,2023,410000,10000,Petrol,Individual,Manual,First Owner,19.03 kmpl,999 CC,71.01bhp,96Nm,5.0
1,Skoda Slavia 1.0 TSI Ambition,2023,1350000,10000,Petrol,Individual,Manual,First Owner,14.08 kmpl,1956 CC,167.67bhp,350nm,5.0
2,BMW 3 Series Gran Limousine 320Ld Luxury Line,2023,5800000,1000,Diesel,Dealer,Automatic,First Owner,18.15 kmpl,998 CC,118.35bhp,172Nm,5.0
3,MG ZS EV Exclusive,2023,2650000,10000,Electric,Dealer,Automatic,First Owner,32.52 kmpl,998 CC,58.33bhp,78Nm,5.0
4,Tata Punch Adventure,2023,715000,10000,Petrol,Individual,Manual,First Owner,12.15 kmpl,1451 CC,141bhp,250Nm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8139,Maruti 800 AC,1996,42000,70000,Petrol,Individual,Manual,Third Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
8140,Maruti 800 DX,1996,40000,32000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
8142,Maruti 800 Std,1995,55000,70000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
8143,Ambassador Classic 2000 DSZ AC PS,1994,99000,100000,Diesel,Individual,Manual,Second Owner,12.8 kmpl,1995 CC,52 bhp,106Nm@ 2200rpm,5.0
8145,Maruti 800 AC,1994,45000,60000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0

In [ ]:
df.reset_index(drop=True,inplace=True) #it will reset the index of the DataFrame
df

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Alto 800 LXI Opt,2023,410000,10000,Petrol,Individual,Manual,First Owner,19.03 kmpl,999 CC,71.01bhp,96Nm,5.0
1,Skoda Slavia 1.0 TSI Ambition,2023,1350000,10000,Petrol,Individual,Manual,First Owner,14.08 kmpl,1956 CC,167.67bhp,350nm,5.0
2,BMW 3 Series Gran Limousine 320Ld Luxury Line,2023,5800000,1000,Diesel,Dealer,Automatic,First Owner,18.15 kmpl,998 CC,118.35bhp,172Nm,5.0
3,MG ZS EV Exclusive,2023,2650000,10000,Electric,Dealer,Automatic,First Owner,32.52 kmpl,998 CC,58.33bhp,78Nm,5.0
4,Tata Punch Adventure,2023,715000,10000,Petrol,Individual,Manual,First Owner,12.15 kmpl,1451 CC,141bhp,250Nm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6732,Maruti 800 AC,1996,42000,70000,Petrol,Individual,Manual,Third Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6733,Maruti 800 DX,1996,40000,32000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6734,Maruti 800 Std,1995,55000,70000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6735,Ambassador Classic 2000 DSZ AC PS,1994,99000,100000,Diesel,Individual,Manual,Second Owner,12.8 kmpl,1995 CC,52 bhp,106Nm@ 2200rpm,5.0
6736,Maruti 800 AC,1994,45000,60000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0

In [ ]:
#sort first 20 rows and 5 column
df.iloc[:20,:5]

,Name,year,selling_price,km_driven,fuel
0,Maruti Alto 800 LXI Opt,2023,410000,10000,Petrol
1,Skoda Slavia 1.0 TSI Ambition,2023,1350000,10000,Petrol
2,BMW 3 Series Gran Limousine 320Ld Luxury Line,2023,5800000,1000,Diesel
3,MG ZS EV Exclusive,2023,2650000,10000,Electric
4,Tata Punch Adventure,2023,715000,10000,Petrol
5,Maruti S-Presso VXi Plus,2023,450000,30171,Petrol
6,Maruti S-Presso LXi,2022,425000,1994,Petrol
7,Hyundai Creta SX Turbo,2022,1895000,22000,Petrol
8,Renault Kiger RXT AMT Opt DT,2022,842000,6424,Petrol
9,Renault KWID CLIMBER,2022,567000,5148,Petrol
10,Mahindra XUV300 W8 Diesel Sunroof,2022,1197000,5030,Diesel
11,Mahindra XUV700 AX5 Diesel AT,2022,2275000,28000,Diesel
12,Renault Triber RXT,2022,800000,10000,Petrol
13,Hyundai Creta SX Diesel AT,2021,1950000,8000,Diesel
14,Renault KWID CLIMBER,2021,567000,5868,Petrol
15,Nissan Magnite XV Premium,2021,850000,2963,Petrol
16,Renault Triber RXZ,2021,785000,11192,Petrol
17,Hyundai Tucson Platinum AT,2021,2975000,3600,Petrol
18,Maruti Alto 800 LXI Opt,2021,358000,29751,Petrol
19,Hyundai i20 Sportz Diesel,2021,977000,13522,Diesel

In [ ]:
#convert first value of year and last value of year into nan
df.loc[0,'year']=np.nan
df.loc[len(df)-1,'year']=np.nan
df

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Alto 800 LXI Opt,NaN,410000,10000,Petrol,Individual,Manual,First Owner,19.03 kmpl,999 CC,71.01bhp,96Nm,5.0
1,Skoda Slavia 1.0 TSI Ambition,2023.0,1350000,10000,Petrol,Individual,Manual,First Owner,14.08 kmpl,1956 CC,167.67bhp,350nm,5.0
2,BMW 3 Series Gran Limousine 320Ld Luxury Line,2023.0,5800000,1000,Diesel,Dealer,Automatic,First Owner,18.15 kmpl,998 CC,118.35bhp,172Nm,5.0
3,MG ZS EV Exclusive,2023.0,2650000,10000,Electric,Dealer,Automatic,First Owner,32.52 kmpl,998 CC,58.33bhp,78Nm,5.0
4,Tata Punch Adventure,2023.0,715000,10000,Petrol,Individual,Manual,First Owner,12.15 kmpl,1451 CC,141bhp,250Nm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6732,Maruti 800 AC,1996.0,42000,70000,Petrol,Individual,Manual,Third Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6733,Maruti 800 DX,1996.0,40000,32000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6734,Maruti 800 Std,1995.0,55000,70000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6735,Ambassador Classic 2000 DSZ AC PS,1994.0,99000,100000,Diesel,Individual,Manual,Second Owner,12.8 kmpl,1995 CC,52 bhp,106Nm@ 2200rpm,5.0
6736,Maruti 800 AC,NaN,45000,60000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0

In [ ]:
df.isna()

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,False,True,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6732,False,False,False,False,False,False,False,False,False,False,False,False,False
6733,False,False,False,False,False,False,False,False,False,False,False,False,False
6734,False,False,False,False,False,False,False,False,False,False,False,False,False
6735,False,False,False,False,False,False,False,False,False,False,False,False,False
6736,False,True,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df['year'].sum()
df['year'].mean()
df['year'].median()
df['year'].mode()
df['year'].count()
df['year'].std()
df['year'].var()

15.28669008713506

In [ ]:
df["year"].isna().sum()
df["year"].fillna(df["year"].mode()[0],inplace=True)
df

<ipython-input-32-6af7c64263da>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["year"].fillna(df["year"].mode()[0],inplace=True)

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Alto 800 LXI Opt,2017.0,410000,10000,Petrol,Individual,Manual,First Owner,19.03 kmpl,999 CC,71.01bhp,96Nm,5.0
1,Skoda Slavia 1.0 TSI Ambition,2023.0,1350000,10000,Petrol,Individual,Manual,First Owner,14.08 kmpl,1956 CC,167.67bhp,350nm,5.0
2,BMW 3 Series Gran Limousine 320Ld Luxury Line,2023.0,5800000,1000,Diesel,Dealer,Automatic,First Owner,18.15 kmpl,998 CC,118.35bhp,172Nm,5.0
3,MG ZS EV Exclusive,2023.0,2650000,10000,Electric,Dealer,Automatic,First Owner,32.52 kmpl,998 CC,58.33bhp,78Nm,5.0
4,Tata Punch Adventure,2023.0,715000,10000,Petrol,Individual,Manual,First Owner,12.15 kmpl,1451 CC,141bhp,250Nm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6732,Maruti 800 AC,1996.0,42000,70000,Petrol,Individual,Manual,Third Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6733,Maruti 800 DX,1996.0,40000,32000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6734,Maruti 800 Std,1995.0,55000,70000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6735,Ambassador Classic 2000 DSZ AC PS,1994.0,99000,100000,Diesel,Individual,Manual,Second Owner,12.8 kmpl,1995 CC,52 bhp,106Nm@ 2200rpm,5.0
6736,Maruti 800 AC,2017.0,45000,60000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0

In [ ]:
df.describe()

              year  selling_price     km_driven        seats
count  6737.000000   6.737000e+03  6.737000e+03  6737.000000
mean   2013.638415   5.289554e+05  7.321379e+04     5.432982
std       3.909668   5.294045e+05  5.871555e+04     0.982628
min    1994.000000   2.999900e+04  1.000000e+00     2.000000
25%    2011.000000   2.500000e+05  3.700000e+04     5.000000
50%    2014.000000   4.200000e+05  6.800000e+04     5.000000
75%    2017.000000   6.500000e+05  1.000000e+05     5.000000
max    2023.000000   1.000000e+07  2.360457e+06    14.000000

In [ ]:
q1 = df["selling_price"].quantile(0.25)
q2 = df["selling_price"].quantile(0.50)
q3 = df["selling_price"].quantile(0.75)
iqr = q3 - q1
upper_bound = q3 + 1.5 * iqr
lower_bound = q1 - 1.5 * iqr
print(q1,q2,q3,iqr,upper_bound,lower_bound,sep="\n")

250000.0
420000.0
650000.0
400000.0
1250000.0
-350000.0

In [ ]:
df[(df["selling_price"] > lower_bound) & (df["selling_price"] < upper_bound)]

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Alto 800 LXI Opt,2017.0,410000,10000,Petrol,Individual,Manual,First Owner,19.03 kmpl,999 CC,71.01bhp,96Nm,5.0
4,Tata Punch Adventure,2023.0,715000,10000,Petrol,Individual,Manual,First Owner,12.15 kmpl,1451 CC,141bhp,250Nm,5.0
5,Maruti S-Presso VXi Plus,2023.0,450000,30171,Petrol,Individual,Manual,First Owner,19.03 kmpl,999 CC,71.01bhp,96Nm,5.0
6,Maruti S-Presso LXi,2022.0,425000,1994,Petrol,Dealer,Manual,First Owner,19.47 kmpl,999 CC,113.98bhp,178Nm,5.0
8,Renault Kiger RXT AMT Opt DT,2022.0,842000,6424,Petrol,Individual,Automatic,First Owner,14.08 kmpl,1956 CC,167.67bhp,350nm,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6732,Maruti 800 AC,1996.0,42000,70000,Petrol,Individual,Manual,Third Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6733,Maruti 800 DX,1996.0,40000,32000,Petrol,Individual,Manual,Second Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6734,Maruti 800 Std,1995.0,55000,70000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0
6735,Ambassador Classic 2000 DSZ AC PS,1994.0,99000,100000,Diesel,Individual,Manual,Second Owner,12.8 kmpl,1995 CC,52 bhp,106Nm@ 2200rpm,5.0
6736,Maruti 800 AC,2017.0,45000,60000,Petrol,Individual,Manual,First Owner,16.1 kmpl,796 CC,37 bhp,59Nm@ 2500rpm,4.0

In [ ]:
df["mileage"] = df["mileage"].str.strip(" kmplg/")
df["mileage"] = df["mileage"].astype(float)
df["mileage"]

0       19.03
1       14.08
2       18.15
3       32.52
4       12.15
        ...
6732    16.10
6733    16.10
6734    16.10
6735    12.80
6736    16.10
Name: mileage, Length: 6737, dtype: float64

In [ ]:
df["engine"] = df["engine"].str.strip(" C")
df["engine"] = df["engine"].astype(int)
df["engine"]

0        999
1       1956
2        998
3        998
4       1451
        ...
6732     796
6733     796
6734     796
6735    1995
6736     796
Name: engine, Length: 6737, dtype: int64

In [ ]:
df["max_power"] = df["max_power"].str.strip(" bhp")
df["max_power"] = df["max_power"].astype(float)
df["max_power"]

0        71.01
1       167.67
2       118.35
3        58.33
4       141.00
         ...
6732     37.00
6733     37.00
6734     37.00
6735     52.00
6736     37.00
Name: max_power, Length: 6737, dtype: float64

In [ ]:
df["torque"] = df["torque"].apply(func = lambda x : x.upper().split()[0])
df["torque"] = df["torque"].apply(func = lambda x : x.upper().split("N")[0])
df["torque"] = df["torque"].apply(func = lambda x : x.upper().split("K")[0])
df["torque"] = df["torque"].apply(func = lambda x : x.upper().split("@")[0])
df["torque"] = df["torque"].apply(func = lambda x : x.upper().split("(")[0])
df["torque"] = df["torque"].astype(float)
df["torque"]

0        96.0
1       350.0
2       172.0
3        78.0
4       250.0
        ...
6732     59.0
6733     59.0
6734     59.0
6735    106.0
6736     59.0
Name: torque, Length: 6737, dtype: float64

In [ ]:
df.dtypes

Name              object
year             float64
selling_price      int64
km_driven          int64
fuel              object
seller_type       object
transmission      object
owner             object
mileage          float64
engine             int64
max_power        float64
torque           float64
seats            float64
dtype: object

In [ ]:
def price_category(price):
  if price < 1000000:
    return "Budget"
  elif price >= 1000000 and price < 3000000:
    return "Midrange"
  else:
    return "Luxury"

In [ ]:
df["price_category"] = df["selling_price"].apply(price_category)
df

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,price_category
0,Maruti Alto 800 LXI Opt,2017.0,410000,10000,Petrol,Individual,Manual,First Owner,19.03,999,71.01,96.0,5.0,Budget
1,Skoda Slavia 1.0 TSI Ambition,2023.0,1350000,10000,Petrol,Individual,Manual,First Owner,14.08,1956,167.67,350.0,5.0,Midrange
2,BMW 3 Series Gran Limousine 320Ld Luxury Line,2023.0,5800000,1000,Diesel,Dealer,Automatic,First Owner,18.15,998,118.35,172.0,5.0,Luxury
3,MG ZS EV Exclusive,2023.0,2650000,10000,Electric,Dealer,Automatic,First Owner,32.52,998,58.33,78.0,5.0,Midrange
4,Tata Punch Adventure,2023.0,715000,10000,Petrol,Individual,Manual,First Owner,12.15,1451,141.00,250.0,5.0,Budget
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6732,Maruti 800 AC,1996.0,42000,70000,Petrol,Individual,Manual,Third Owner,16.10,796,37.00,59.0,4.0,Budget
6733,Maruti 800 DX,1996.0,40000,32000,Petrol,Individual,Manual,Second Owner,16.10,796,37.00,59.0,4.0,Budget
6734,Maruti 800 Std,1995.0,55000,70000,Petrol,Individual,Manual,First Owner,16.10,796,37.00,59.0,4.0,Budget
6735,Ambassador Classic 2000 DSZ AC PS,1994.0,99000,100000,Diesel,Individual,Manual,Second Owner,12.80,1995,52.00,106.0,5.0,Budget
6736,Maruti 800 AC,2017.0,45000,60000,Petrol,Individual,Manual,First Owner,16.10,796,37.00,59.0,4.0,Budget

In [ ]:
def mileage_category(mile):
  if mile <= 25:
    return "High Mileage"
  elif mile <= 15:
    return "Mid Mileage"
  else:
    return "Low Mileage"

In [ ]:
df["mileage_category"] = df["mileage"].apply(mileage_category)
df

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,price_category,mileage_category
0,Maruti Alto 800 LXI Opt,2017.0,410000,10000,Petrol,Individual,Manual,First Owner,19.03,999,71.01,96.0,5.0,Budget,High Mileage
1,Skoda Slavia 1.0 TSI Ambition,2023.0,1350000,10000,Petrol,Individual,Manual,First Owner,14.08,1956,167.67,350.0,5.0,Midrange,High Mileage
2,BMW 3 Series Gran Limousine 320Ld Luxury Line,2023.0,5800000,1000,Diesel,Dealer,Automatic,First Owner,18.15,998,118.35,172.0,5.0,Luxury,High Mileage
3,MG ZS EV Exclusive,2023.0,2650000,10000,Electric,Dealer,Automatic,First Owner,32.52,998,58.33,78.0,5.0,Midrange,Low Mileage
4,Tata Punch Adventure,2023.0,715000,10000,Petrol,Individual,Manual,First Owner,12.15,1451,141.00,250.0,5.0,Budget,High Mileage
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6732,Maruti 800 AC,1996.0,42000,70000,Petrol,Individual,Manual,Third Owner,16.10,796,37.00,59.0,4.0,Budget,High Mileage
6733,Maruti 800 DX,1996.0,40000,32000,Petrol,Individual,Manual,Second Owner,16.10,796,37.00,59.0,4.0,Budget,High Mileage
6734,Maruti 800 Std,1995.0,55000,70000,Petrol,Individual,Manual,First Owner,16.10,796,37.00,59.0,4.0,Budget,High Mileage
6735,Ambassador Classic 2000 DSZ AC PS,1994.0,99000,100000,Diesel,Individual,Manual,Second Owner,12.80,1995,52.00,106.0,5.0,Budget,High Mileage
6736,Maruti 800 AC,2017.0,45000,60000,Petrol,Individual,Manual,First Owner,16.10,796,37.00,59.0,4.0,Budget,High Mileage

In [ ]:
def company_name(name):
  return name.split()[0]

In [ ]:
# df["Company"] = df["Name"].apply(func = lambda x : x.split()[0])
df["Company"] = df["Name"].apply(company_name)
df

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,price_category,mileage_category,Company
0,Maruti Alto 800 LXI Opt,2017.0,410000,10000,Petrol,Individual,Manual,First Owner,19.03,999,71.01,96.0,5.0,Budget,High Mileage,Maruti
1,Skoda Slavia 1.0 TSI Ambition,2023.0,1350000,10000,Petrol,Individual,Manual,First Owner,14.08,1956,167.67,350.0,5.0,Midrange,High Mileage,Skoda
2,BMW 3 Series Gran Limousine 320Ld Luxury Line,2023.0,5800000,1000,Diesel,Dealer,Automatic,First Owner,18.15,998,118.35,172.0,5.0,Luxury,High Mileage,BMW
3,MG ZS EV Exclusive,2023.0,2650000,10000,Electric,Dealer,Automatic,First Owner,32.52,998,58.33,78.0,5.0,Midrange,Low Mileage,MG
4,Tata Punch Adventure,2023.0,715000,10000,Petrol,Individual,Manual,First Owner,12.15,1451,141.00,250.0,5.0,Budget,High Mileage,Tata
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6732,Maruti 800 AC,1996.0,42000,70000,Petrol,Individual,Manual,Third Owner,16.10,796,37.00,59.0,4.0,Budget,High Mileage,Maruti
6733,Maruti 800 DX,1996.0,40000,32000,Petrol,Individual,Manual,Second Owner,16.10,796,37.00,59.0,4.0,Budget,High Mileage,Maruti
6734,Maruti 800 Std,1995.0,55000,70000,Petrol,Individual,Manual,First Owner,16.10,796,37.00,59.0,4.0,Budget,High Mileage,Maruti
6735,Ambassador Classic 2000 DSZ AC PS,1994.0,99000,100000,Diesel,Individual,Manual,Second Owner,12.80,1995,52.00,106.0,5.0,Budget,High Mileage,Ambassador
6736,Maruti 800 AC,2017.0,45000,60000,Petrol,Individual,Manual,First Owner,16.10,796,37.00,59.0,4.0,Budget,High Mileage,Maruti

In [ ]:
df.sort_values(by="selling_price")
df.sort_values(by="selling_price",ascending=False)

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,price_category,mileage_category,Company
1838,Volvo XC90 T8 Excellence BSIV,2017.0,10000000,30000,Petrol,Individual,Automatic,First Owner,42.00,1969,400.00,640.0,4.0,Luxury,Low Mileage,Volvo
20,BMW X7 xDrive 30d DPE,2020.0,7200000,5000,Diesel,Individual,Automatic,First Owner,13.38,2993,265.00,620.0,7.0,Luxury,High Mileage,BMW
85,Audi A6 35 TFSI Matrix,2019.0,6523000,23600,Petrol,Dealer,Automatic,Test Drive Car,15.26,1798,187.74,320.0,5.0,Luxury,High Mileage,Audi
83,Audi A6 35 TFSI Matrix,2019.0,6223000,7800,Petrol,Dealer,Automatic,Test Drive Car,15.26,1798,187.74,320.0,5.0,Luxury,High Mileage,Audi
440,BMW 6 Series GT 630d Luxury Line,2018.0,6000000,27000,Diesel,Dealer,Automatic,First Owner,17.09,2993,261.40,620.0,4.0,Luxury,High Mileage,BMW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6614,Maruti Wagon R VXI,2004.0,33351,90000,Petrol,Individual,Manual,Third Owner,18.90,998,67.10,90.0,5.0,Budget,High Mileage,Maruti
6596,Maruti 800 Std,2004.0,31504,110000,Petrol,Individual,Manual,Third Owner,16.10,796,37.00,59.0,4.0,Budget,High Mileage,Maruti
6694,Maruti 800 Std,2000.0,31000,56194,Petrol,Individual,Manual,Fourth & Above Owner,16.10,796,37.00,59.0,4.0,Budget,High Mileage,Maruti
6686,Maruti Zen LXI,2001.0,30000,10000,Petrol,Individual,Manual,First Owner,17.30,993,60.00,78.0,5.0,Budget,High Mileage,Maruti
6723,Maruti 800 AC,1997.0,29999,80000,Petrol,Individual,Manual,Third Owner,16.10,796,37.00,59.0,4.0,Budget,High Mileage,Maruti

In [ ]:
df[(df['year'].isin([2010,2011]))&(df['fuel']=='Diesel')].head()

,Name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,price_category,mileage_category,Company
4926,Audi Q5 2.0 TDI,2011.0,1300000,120000,Diesel,Individual,Automatic,First Owner,12.80,1968,167.6,350.0,5.0,Midrange,High Mileage,Audi
4927,BMW 3 Series 320d Sedan,2011.0,1500000,84925,Diesel,Individual,Automatic,First Owner,16.07,1995,181.0,380.0,5.0,Midrange,High Mileage,BMW
4928,BMW X1 sDrive20d,2011.0,1000000,50000,Diesel,Individual,Automatic,First Owner,17.05,1995,184.0,380.0,5.0,Midrange,High Mileage,BMW
4929,BMW X1 sDrive20d M Sport,2011.0,1075000,42545,Diesel,Dealer,Automatic,First Owner,19.62,1998,190.0,400.0,5.0,Midrange,High Mileage,BMW
4931,Chevrolet Beat Diesel,2011.0,165000,70000,Diesel,Individual,Manual,Second Owner,25.44,936,57.6,150.0,5.0,Budget,Low Mileage,Chevrolet

In [ ]:
for i in df:
  if df[i].dtype == 'int'or df[i].dtype == 'float':
    print(i.upper())
    print(f'mean:{df[i].mean()}')
    print(f'median:{df[i].median()}')
    print(f'min:{df[i].min()}')
    print(f'max:{df[i].max()}')
    print(f'Standard Deviation:{df[i].std()}')
    print()

YEAR
mean:2013.638414724655
median:2014.0
min:1994.0
max:2023.0
Standard Deviation:3.9096684594446622

SELLING_PRICE
mean:528955.4314976992
median:420000.0
min:29999
max:10000000
Standard Deviation:529404.5467566309

KM_DRIVEN
mean:73213.78907525605
median:68000.0
min:1
max:2360457
Standard Deviation:58715.54600739977

MILEAGE
mean:19.465033397654743
median:19.4
min:0.0
max:42.0
Standard Deviation:4.057349271174077

ENGINE
mean:1430.8687843253674
median:1248.0
min:624
max:3604
Standard Deviation:493.62132918652924

MAX_POWER
mean:87.8800007421701
median:81.83
min:32.8
max:400.0
Standard Deviation:31.938880810952167

TORQUE
mean:161.02479590322102
median:146.0
min:4.8
max:789.0
Standard Deviation:91.88699574292563

SEATS
mean:5.432982039483449
median:5.0
min:2.0
max:14.0
Standard Deviation:0.9826275574654599

In [ ]:
df["fuel"].value_counts()

fuel
Diesel      3663
Petrol      2987
CNG           51
LPG           35
Electric       1
Name: count, dtype: int64

In [ ]:
df.groupby("price_category")["engine"].min()

price_category
Budget      624
Luxury      998
Midrange    998
Name: engine, dtype: int64